* {
  margin: 0;
}
.alanBtn-root {
  z-index: 1000 !important;
}
body {
  background-color: #f5f6fa;
}
.infoBox__title {
  font-weight: 550 !important;
}
.MuiTypography-colorTextSecondary {
  color: rgb(0 0 0 / 66%) !important;
}
.heading > h1 {
  font-size: 3.1rem;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__stats {
  display: flex;
}
/* .app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.8;
}

@media (min-width: 1200px) {
  .app__left {
    flex: 0.55;
  }
  .app__right {
    flex: 0.25;
  }
  .app__right .muiCardContent-root {
    flex-grow: 1;
  }
  .app__graph {
    flex-grow: 1;
  }
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}


.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .muiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph {
  margin-top: 15px;
  flex-grow: 1;
}
.table_heading {
  margin-top: 2rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .app__right {
    margin-top: 1rem;
  }
}
@media (max-width: 350px) {
  .app__header > h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 500px) {
  .app__stats {
    flex-direction: column;
  }
  .app__stats * {
    text-align: center;
  }
  .MuiCard-root {
    margin: 10px;
  }
  .app__header {
    flex-direction: column;
  }
  .app__header > h1 {
    margin-bottom: 1rem;
  }
} */
