* {
  margin: 0;
}
.alanBtn-root {
  z-index: 1000 !important;
}
body {
  background-color: #f5f6fa;
}
.infoBox__title {
  font-weight: 550 !important;
}
.MuiTypography-colorTextSecondary {
  color: rgb(0 0 0 / 66%) !important;
}
.heading > h1 {
  font-size: 3.1rem;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__stats {
  display: flex;
}
.logo__image {
  width: 50%;
  margin: 1rem 0;
}
@media (max-width: 900px) {
  .logo__image {
    width: 60%;
  }
}
@media (max-width: 800px) {
  .logo__image {
    width: 70%;
  }
}
@media (max-width: 700px) {
  .logo__image {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .logo__image {
    width: 90%;
  }
  .app__stats {
    flex-direction: column;
    gap: 1rem;
  }
  .MuiToolbar-root {
    display: flex !important;
    flex-direction: column !important;
  }
}
@media (max-width: 500px) {
  .logo__image {
    width: 100%;
  }
}

.app__dropdown {
  margin-bottom: 1.5rem !important;
}
.app__graph {
  margin: 1rem 0;
}
.MuiOutlinedInput-root {
  border-radius: 15px !important;
}
