* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.app__stats {
  display: flex;
  justify-content: space-between;
}

.app__left {
  flex: 0.8;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__right {
  display: flex;
  flex-direction: column;
}

.app__right .muiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph {
  margin-top: 15px;
  flex-grow: 1;
}
.heading {
  margin-top: 2rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
