.table {
  margin-top: 20px;
  overflow: auto;
  height: 400px;
}

.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

@media (max-width: 350px) {
  .table {
    overflow: auto;
  }
}
